[Unit]
Description=LinuxGSM CoreKeeper Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=ckserver
WorkingDirectory=/home/ckserver
#Assume that the service is running after main process exits with code 0
RemainAfterExit=yes
ExecStart=/home/ckserver/ckserver start
ExecStop=/home/ckserver/ckserver stop
Restart=no

[Install]
WantedBy=multi-user.target
